<%- include('partials/header.ejs') %>

<div class="w-11/12 m-auto text-center shadow-2xl card card-side bg-base-100">
	<div class="card-body">
		<div class="flex flex-col md:flex-row">
			<div class="flex-[8]">
				<h2><a class="text-2xl text-blue-500 underline visited:text-violet-500 underline-offset-2 hover:underline-offset-auto" href="https://tvtropes.org/pmwiki/pmwiki.php/<%= work.id %>"><%= work.title %></a></h2>
				<div tabindex="0" class="border collapse collapse-plus border-base-300 bg-base-100 rounded-box">
					<div class="collapse">
						<input type="checkbox" />
						<div class="text-xl font-medium collapse-title">
							Read More...
						</div>
						<div class="collapse-content">
							<div class="border mockup-window bg-base-300">
								<div class=""><iframe src="https://tvtropes.org/pmwiki/pmwiki.php/<%= work.id %>" class="w-full"></iframe></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<img class="flex-1 shadow-2xl md:rounded-tr-lg md:relative md:bottom-8 md:left-8 max-h-[33vh] max-w-[33vw] md:max-w-none self-center md:self-auto" src="<%= work.imageURL %>" alt=""/>
		</div>

		<h2>Tropes (<%= work.tropes.length %>)</h2>
		<div class="flex flex-wrap gap-2 justify-evenly">
			<% for (const trope of work.tropes) { %>
				<a href="/trope/<%= trope.id %>" class="badge badge-lg bg-blue-900/30 visited:bg-violet-900"><%= trope.name %></a>
			<% } %>
		</div>
	</div>
</div>

<%- include('partials/footer.ejs') %>